*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:black ;
}
.card{
    background-color: white;
    padding: 30px;
    height:100px;
    margin:20px;
    width: auto;
}
td{
    padding: 20px;
}
